@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

@media screen and (min-width: 900px) {
.content {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.left-div, .right-div {
    float: left;
    width: 50%;
    margin: auto;
    padding: 10px 80px;
    align-items: center;
}
header {
    display: flex;
    padding: 0 10px;
    align-items: center;
    background-color: #079a9a;
    justify-content: flex-end;
}
.nav-list li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}
.forms {
    display: flex;
    margin: 2% auto;
    width: 80%;
}
}

@media screen and (min-width: 451px) and (max-width: 900px) {
.content {
    display: inline-block;
    width: 100%;
    margin: auto;
    align-items: center;
}
.left-div, .right-div {
    margin: 15px auto;
    padding: 0 70px;
    align-items: center;
}
header {
    display: flex;
    justify-content: flex-end;
    background-color: #079a9a;
    align-items: center;
    padding: 0 10px;
}
.nav-list li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}
.forms {
    display: flex;
    margin: 2% auto;
    width: 80%;
}
}

@media screen and (max-width: 450px) {
.content {
    display: inline-block;
    width: 100%;
    padding: 0 30px;
    margin: 10px auto;
    align-items: center;
}
.left-div, .right-div {
    margin: 15px auto;
    padding: 0;
    align-items: center;
}
.left-div {
    text-align: center;
}
.nav-list li {
    display: block;
    padding: 10px;
    margin: 0 5px;
}
header {
    display: block;
    background-color: #079a9a;
    margin: 5px 0;
    padding: 0 10px;
}

.forms {
    display: inline-block;
    margin: 5% auto;
    width: 100%;
}
}

* {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.left-div {
    text-align: center;
}

.nav-list {
    list-style: none;
}

.nav-list li a, .foot-list li a{
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover, .foot-list li a:hover{
    color: black;
}

li, a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}
fieldset {
    border-radius: 20px;
    padding: 21px;
    line-height: 20px;
}
.login_field {
    line-height: 30px;
}
.right-div label {
    line-height: 30px;
    margin-top: 200px;
}

.input input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.submit-btn {
    display: block;
    border-radius: 5%;
    width: 30%;
    height: 30px;
    margin: auto;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #079a9a;
}

.submit-btn:hover {
    color: black;
}
.newsletter-input {
    margin-right: 10px;
}
footer {
    margin-top: auto;
    min-height: 50px;
    background: PapayaWhip;
    background-color: #079a9a;
}
.left-div a {
    color: rosybrown;
    margin: 0 auto;
    text-decoration: underline;
}
body {
    height: 100vh;
    margin: 0;
    display: flex; 
    flex-direction: column;
    background-color: #b4e6e6;
}
.main {
    margin: 2% 5%;
}
.homeHeading {
    color: #808080;
    font-size: 1.5em;
    text-align: center;
}
.main p {
    margin-top: 2%;
}
.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
    height: auto;
}
.register {
    flex: 0 0 50%;
}
.register a {
    margin: 2% 0;
    text-align: center;
}
.login {
    flex: 1;
}
.login a {
    margin: 2% 0;
    text-align: center;
}
.user_details {
    display: none;
    margin: 100px auto;
    width: 60%;
    border: 3px solid #8ef7e4;
    padding: 10px;
    line-height: 50px;
}
.user_details a {
    text-align: center;
    color: red;
}